<section>

  <div class="content" role="main">
    <input type="hidden" #selection>

    <!-- card com ação -->
    <div class="card-container">
      <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
        <span>Learn Angular</span>
      </a>
    </div>

    <!-- botão com ação-->
    <div class="card-container">
      <button class="card card-small" (click)="selection.value = 'component'" tabindex="0">
        <span>New Component</span>
      </button>
    </div>

  </div>

</section>


